{% extends 'base.html.twig' %}

{% block title %}Add a student{% endblock %}

{% block body %}

    <div class="main-content-page student-new-page">

        <div id="title-add">
            {% if edit %}
            <h1>Add a student</h1>
            {% else %}
            <h1>Edit a student</h1>
            {% endif %}
        </div>

        <div id="form-student">

            <div id="header-top"></div>
            {{ form_start(formAddStudent) }}
                <div id="name-student-form">
                    <i class="fa-solid fa-user-plus"></i>
                    <p>Name:</p>
                    <div class="last-first-name">{{ form_row(formAddStudent.lastName) }} {{ form_row(formAddStudent.firstName) }}</div>
                </div>
        
                <div>
                    <div>
                        {{ form_label(formAddStudent.sexe) }}
                        {{ form_widget(formAddStudent.sexe) }}
                    </div>


                    <div> {{ form_row(formAddStudent.birthday) }}</div>
                
                    <div>  {{ form_row(formAddStudent.city) }}</div>
                
                    <div> {{ form_row(formAddStudent.email) }}</div>
                    <div> {{ form_row(formAddStudent.phoneNumber) }}</div>
                </div>
                
                {{ form_row(formAddStudent.Validate) }}
            {{ form_end(formAddStudent) }}

        </div>
    
        
    </div> 
    {% endblock %}
