{% extends 'base.html.twig' %}

{% block title %}Détail d'un stagiaire{% endblock %}

{% block body %}



    <h1>Détail d'un stagiaire</h1>

    <h2> {{ student }}</h2>

    <p>
    
        Nom : {{ student}} <br> 
        Sexe : {{student.sexe}} <br>
        Mail : {{student.email}} <br>
        Téléphone : {{student.phoneNumber}} <br>
        Ville : {{student.city}} <br>
        Date de naissance: {{student.birthday|date("d.m.Y")}} <br>
        Age: {{ student.age}}  ans <br>

        <a href="{{ path('edit_student', {'id': student.id }) }}">EDITER </a>
        <a href="{{ path('delete_student', {'id': student.id }) }}">SUPPRIMER </a>
        
        

    </p>

    <p>

        {% if student.sessions | length > 0 %}
            {% set currentDate = date('now') %}
            {% set hasOngoingSession = false %}
            {% set hasFutureSession = false %}
            {% set hasFinishedSession = false %}

            {% for session in student.sessions %}
                {% if session.startDate <= currentDate and currentDate <= session.endDate %}
                    {% set hasOngoingSession = true %}
                    <h3>Formation en cours :</h3>
                    {{ session.formation.name }} du {{ session.startDate|date("d.m.Y") }} au {{ session.endDate|date("d.m.Y") }} <br>
                {% elseif session.startDate > currentDate %}
                    {% set hasFutureSession = true %}
                    <h3>Formations à venir :</h3>
                    {{ session.formation.name }} du {{ session.startDate|date("d.m.Y") }} au {{ session.endDate|date("d.m.Y") }} <br>
                {% elseif session.endDate < currentDate %}
                    {% set hasFinishedSession = true %}
                    <h3>Formations terminées :</h3>
                    {{ session.formation.name }} du {{ session.startDate|date("d.m.Y") }} au {{ session.endDate|date("d.m.Y") }} <br>
                {% endif %}
            {% endfor %}

            {% if not hasOngoingSession %}
                <h3>Formation en cours :</h3>
                <p>Pas de formations en cours.</p>
            {% endif %}

            {% if not hasFutureSession %}
                <h3>Formations à venir :</h3>
                <p>Pas de formations à venir.</p>
            {% endif %}

            {% if not hasFinishedSession %}
                <h3>Formations terminées :</h3>
                <p>Pas de formations terminées.</p>
            {% endif %}

        {% else %}
            <p>Aucune session.</p>
        {% endif %}


    </p>




{% endblock %}
