{% extends 'base.html.twig' %}

{% block title %}Détail d'un stagiaire{% endblock %}

{% block body %}

    <div class="main-content-page student-index-page">
  
        <div id="title-add">
            <h1>Detail student</h1>
        </div>

        <div id="top">
            <p>{{ student}}</p>
            <p><a href="{{ path('app_pdf_generator', {'id': student.id}) }}"><i class="fa-solid fa-file-pdf fa-xl"></i></a></p>
            
        </div>


        <div class="module-areas">

            <div class="module-area detail-session ">
                <div class="top">
                    
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('edit_student', {'id': student.id }) }}"><i class="ri-file-edit-fill"></i></a>
                        <a href="#"<i id="delete-student-popup" class="ri-close-circle-fill"></i></a><br>
                    {% endif %}
                </div>


                <div class="confirm-delete" style="display:none">
                    <div>
                        <p>Are you sure you want to delete this student, this action can't be undone</p>
                        <div id="actions">
                            
                            <a href="{{ path('delete_student', {'id': student.id }) }}"><p> <span id="confirm-delete"><i class="ri-checkbox-circle-fill"></i></span>confirm</p></a>
                            <a  id="cancel-delete" href="#"><p><span><i class="ri-close-circle-fill"></i></span>cancel</p></a>
                            
                        </div>
                    </div>
                </div>


                <div class="content">
                    <p> <span>Name : </span>{{ student}}</p>
                    <p> <span>Gender : </span> {{student.sexe}} </p>
                    <p> <span>Mail : </span> {{student.email}}</p>
                    <p> <span>Phone : </span>  {{student.FormattedPhoneNumber}}</p>
                    <p> <span>City : </span> {{student.city}}  </p>
                    <p> <span>Birthday : </span>  {{student.birthday|date("d.m.Y")}}</p>
                    <p><span>Age : </span>{{ student.age}}  years old</p>
                </div>
            </div>



           

            <div class="module-area student-session ">
                <div class="top">
                    <p>Student session/s list</p>
                </div>

                <div class="content">
                   <div class="current">
                        <p>Current session :</p>
                        

                            {% if currentSessions | length > 0 %}
                                {% for session in currentSessions  %}
                                    <div>
                                        <p>•<a href="{{ path('show_session', {'id': session.id }) }}"> {{session}}</a></p>
                                        <p>{{session.startDate|date("d.m.Y")}}</p>
                                        <p>{{session.endDate|date("d.m.Y")}}</p>
                                        
                                    </div>
                                {% endfor %}   
                            {% else %}
                                <p>No current session.</p>
                            {% endif %}
                   </div>

                   <div class="upcoming">
                        <p>Upcoming session/s :</p>

                        {% if upcomingSessions | length > 0 %}
                            {% for session in upcomingSessions  %}
                                <div>
                                    <p>•<a href="{{ path('show_session', {'id': session.id }) }}"> {{session}}</a></p>
                                    <p>{{session.startDate|date("d.m.Y")}}</p>
                                    <p>{{session.endDate|date("d.m.Y")}}</p>
                                    
                                </div>
                            {% endfor %}   
                        {% else %}
                            <p class="text">No upcoming session.</p>
                        {% endif %}
                   </div>

                   <div class="past">
                        <p>Past session/s : </p>

                        {% if pastSessions | length > 0 %}
                            {% for session in pastSessions  %}
                                <div>
                                    <p>•<a href="{{ path('show_session', {'id': session.id }) }}"> {{session}}</a></p>
                                    <p>{{session.startDate|date("d.m.Y")}}</p>
                                    <p>{{session.endDate|date("d.m.Y")}}</p>
                                    
                                </div>
                            {% endfor %}   
                        {% else %}
                            <p class="text">No past session.</p>
                        {% endif %}

                   </div>
                </div>
            </div>

        
            
      

{% endblock %}
