{% extends 'base.html.twig' %}

{% block title %}Détail d'un formateur{% endblock %}

{% block body %}

<div class="main-content-page student-index-page">

    <div id="title-add">
        <h1>Détail d'un formateur</h1>
    </div>

    <div id="top">
        <p>{{ user}}</p>

        <p>
            
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('edit_teacher', {'id': user.id }) }}"><i class="ri-file-edit-fill"></i></a>
            <a href="{{ path('delete_teacher', {'id': user.id }) }}"><i class="ri-close-circle-fill"></i></a>
                
            {% endif %}
          
            
        </p>


    </div>

    <div class="module-areas">


        <div class="module-area student-session ">
            <div class="top">
                <p>Student session/s list</p>
            </div>
    
            <div class="content">
               <div class="current">
                    <p>Current session :</p>
    
                        {% if currentSessions | length > 0 %}
                            {% for session in currentSessions  %}
                                <div>
                                    <p>•<a href="{{ path('show_session', {'id': session.id }) }}"> {{session}}</a></p>
                                    <p>{{session.startDate|date("d.m.Y")}} - {{session.endDate|date("d.m.Y")}}</p>
                                    
                                </div>
                            {% endfor %}   
                        {% else %}
                            <p>No current session.</p>
                        {% endif %}
               </div>
    
               <div class="upcoming">
                    <p>Upcoming session/s :</p>
    
                    {% if upcomingSessions | length > 0 %}
                        {% for session in upcomingSessions  %}
                            <div>
                                <p>•<a href="{{ path('show_session', {'id': session.id }) }}"> {{session}}</a></p>
                                <p>{{session.startDate|date("d.m.Y")}} - {{session.endDate|date("d.m.Y")}}</p>
                                
                            </div>
                        {% endfor %}   
                    {% else %}
                        <p class="text">No upcoming session.</p>
                    {% endif %}
               </div>
    
               <div class="past">
                    <p>Past session/s : </p>
    
                    {% if pastSessions | length > 0 %}
                        {% for session in pastSessions  %}
                            <div>
                                <p>•<a href="{{ path('show_session', {'id': session.id }) }}"> {{session}}</a></p>
                                <p>{{session.startDate|date("d.m.Y")}} - {{session.endDate|date("d.m.Y")}}</p>
                                
                            </div>
                        {% endfor %}   
                    {% else %}
                        <p class="text">No past session.</p>
                    {% endif %}
    
               </div>
            </div>
        </div>
    </div>


</div>

    
    
</div>



{% endblock %}
