{% extends 'base.html.twig' %}

{% block title %}Liste sessions{% endblock %}

{% block body %}

    <h1>Liste sessions</h1>

    {# <a href="{{ path('new_student') }}" >ajouter un stagiaire</a><br> #}

    {% for session in sessions %}
        {# <a href="{{ path('show_student', {'id': student.id }) }}"> #}
            
            <a href="{{ path('show_session', {'id': session.id }) }}"> {{session.formation.name}}</a>
            du {{session.startDate|date("d.m.Y")}} au 
            {{session.endDate|date("d.m.Y")}}

        
        {# <a  href="{{ path('edit_student', {'id': student.id }) }}">Edit</a>
        <a  href="{{ path('delete_student', {'id': student.id }) }}">Supprimer</a> <br> #}
        <br>

        
    {% endfor %}

{% endblock %}


