{% extends 'base.html.twig' %}

{% block title %}Liste sessions{% endblock %}

{% block body %}

    <h1>Liste sessions</h1>

   
    <a href="{{ path('new_session') }}" >ajouter une session</a><br>

    {% for session in sessions %}
        {# <a href="{{ path('show_student', {'id': student.id }) }}"> #}
            
        <a href="{{ path('show_session', {'id': session.id }) }}"> {{session.formation.name}}</a>
        du {{session.startDate|date("d.m.Y")}} au 
        {{session.endDate|date("d.m.Y")}} - {{ session.nbPlacebooked }} / {{session.nbPlaceTotal}} places

        <a href="#">Editer</a>

        <a href="{{ path('delete_session', {'id': session.id }) }}">Supprimer</a><br>

        {{ session.students | length }}
        
    {% endfor %}

{% endblock %}


