{% extends 'base.html.twig' %}

{% block title %}Detail session{% endblock %}

{% block body %}

    <div class="main-content-page session-index-page session-detail-page">

        <div id="title-add">
            <h1>Detail session</h1>
        </div>

        <div id="top">
            <p>{{ session}}</p>
        </div>

        <div class="module-areas">

            <div class="module-area detail-session ">
                <div class="top">
                    
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('edit_session', {'id': session.id }) }}"><i class="ri-file-edit-fill"></i></a>
                        <a href="{{ path('delete_session', {'id': session.id }) }}"><i class="ri-close-circle-fill"></i></a><br>
                    {% endif %}
                </div>
                <div class="content">
                    <p> <span>Formation:</span> {{ session.formation}}</p>
                    <p> <span>Date:</span> {{session.startDate|date("d.m.Y")}} - {{session.endDate|date("d.m.Y")}} </p>
                    <p> <span>Number of places :</span> {{ session.nbPlaceTotal}}</p>
                    <p> <span>Number of students registered:</span> {{ session.nbPlacebooked }}</p>
                    <p> <span>Number of remaining places:</span> {{ session.nbPlaceRemaining }} </p>
                    <p> <span>Main teacher:</span> <a href="{{ path('show_teacher', {'id': session.user.id}) }}">{{session.user}}</a></p>
                </div>
            </div>

     

            <div id="student-session" class="module-area student-session ">
                <div class="top">
                    <p>Students registered</p>
                    <p>Action</p>
                </div>

                <div class="content">
                    {% if session.students| length > 0 %}
    
                        {% for student in session.students %}

                        <div>
                            <a href="{{ path('show_student', {'id': student.id }) }}">• <span>{{student}}</span></a>
                            <a href="{{ path('remove_student_from_session', {'session': session.id, 'student': student.id}) }}"><i class="ri-close-circle-line"></i></a>

                        </div>
                            
       
                        {% endfor %}
                    {% else %}
                            <p>No students registered.</p>
                    {% endif %}
                </div>

                <div class="add-el" id="add-student-btn">
                    <p>Add a student</p>
                </div>


            </div>

            <div id="module-session" class="module-area module-session ">
                <div class="top">
                    <p>Module</p>
                    {# <p>Duration</p> #}
                    <p>Action</p>
                </div>

                <div class="content">
                    
                    {% if session.programmes| length > 0 %}

                    {% for programme in session.programmes %}
                    <div>
                        • {{programme.ModuleFormation.name}} ( {{programme.duration}} days) 
                        <a href="{{ path('delete_programme', {'id': programme.id}) }}"><i class="ri-close-circle-line"></i></a>
                    </div>   
                        {% endfor %}
                    {% else %}
                        <p>Aucun module .</p>
                    {% endif %}
                </div>

                <div class="add-el" id="add-module-btn">
                    <p>Add a module</p>
                </div>
            </div>


            <div class="module-area add-student" style="display:none">

                <div class="top">
                    <p>Students</p>
                    <p>Action</p>
                </div>

                <div class="content">
                    {% if session.nbPlaceRemaining <= 0 %}
                        <p>No more availaible places.</p>
                    {% else %}
                        {% for student in noneRegisteredStudents %}
                        <div>
                            <a href="{{ path('show_student', {'id': student.id }) }}">{{ student }}</a>
                            <a href="{{ path('add_student_from_session', {'session': session.id, 'student': student.id}) }}"><i class="ri-add-circle-line"></i></a>

                        </div>
                           
                        {% endfor %}
                    {% endif %}
                </div>

            </div>

            <div class="module-area add-module " style="display:none">
                <div class="content">

                    {{ form_start(formAddProgramme) }}
                        {{ form_errors(formAddProgramme) }}
            
                        {% for module in formAddProgramme.moduleFormation %}
                          
                            <p> {{ form_row(module.duration) }}</p>
                            <p>{{ form_row(module.moduleFormation) }}</p>

                        <div id="submit-btn-form">
                            {{ form_row(module.Validate) }}
                        </div>
                       
                        {% endfor %}
                       
                    {{ form_end(formAddProgramme) }}
                </div>
            </div>

        </div>


        
    </div>


{% endblock %}
