{% extends 'base.html.twig' %}

{% block title %}Détail session{% endblock %}

{% block body %}

    <h1>Détail session: {{ session}}</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('edit_session', {'id': session.id }) }}">Editer</a>
        <a href="{{ path('delete_session', {'id': session.id }) }}">Supprimer</a><br>
    {% endif %}

    Formation : {{ session.formation}}<br>
    Dates: du {{session.startDate|date("d.m.Y")}} au {{session.endDate|date("d.m.Y")}} <br>
    Nombre de place total : {{ session.nbPlaceTotal}} <br>
    Nombre d'inscrits : {{ session.nbPlacebooked }}<br>
    Nombre de place restante: {{ session.nbPlaceRemaining }}  <br>

    
    Formateur référent: 
    <a href="{{ path('show_teacher', {'id': session.user.id}) }}">{{session.user}}</a>



    <h2>Détail des modules</h2>

    {% if session.programmes| length > 0 %}

            {% for programme in session.programmes %}
                {{programme.ModuleFormation.name}} ( {{programme.duration}} jours) 
                <a href="{{ path('delete_programme', {'id': programme.id}) }}">delete</a>
                <br>
            {% endfor %}
        {% else %}
            <p>Aucun module .</p>
        {% endif %}


    <h2>Détail des stagiaires inscrits</h2>

    {% if session.students| length > 0 %}

        {% for student in session.students %}
            <a href="{{ path('show_student', {'id': student.id }) }}">{{student}}</a>
            <a href="{{ path('remove_student_from_session', {'session': session.id, 'student': student.id}) }}">Remove</a>
             <br>
             {% endfor %}
        {% else %}
            <p>Aucun stagiaires .</p>
    {% endif %}


    <h2>Liste des stagiaires non inscrits</h2>


    {% if session.nbPlaceRemaining <= 0 %}
        <p>No more availaible places.</p>
    {% else %}
        {% for student in noneRegisteredStudents %}
            <a href="{{ path('show_student', {'id': student.id }) }}">{{ student }}</a>
            <a href="{{ path('add_student_from_session', {'session': session.id, 'student': student.id}) }}">add</a>
            <br>
        {% endfor %}
    {% endif %}

        <h2>Liste des modules non ajoutées</h2>

        {# {% for moduleFormation in noneAddedModules %}
            <a href="#">{{moduleFormation}}</a>
            <a href="#">add</a>
            <br>
        {% endfor %} #}



    <h3>Ajouter module</h3>

        {{ form_start(formAddProgramme) }}
            {{ form_errors(formAddProgramme) }}

            {% for module in formAddProgramme.moduleFormation %}
                
           {{ form_row(module.duration) }}
            {{ form_row(module.moduleFormation) }}
            {{ form_row(module.Validate) }}
            {% endfor %}
 

        {{ form_end(formAddProgramme) }}




    {# {{ form_start(formAddStudentSession) }}
        {{ form_errors(formAddStudentSession) }}

        {{ form_row(formAddStudentSession.students) }}
        {{ form_row(formAddStudentSession.Validate) }}

   {{ form_end(formAddStudentSession) }} #}



{% endblock %}
