<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# Google fonts #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600&display=swap" rel="stylesheet">

        {# Font awesome #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {# Remix Icon #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" integrity="sha512-HXXR0l2yMwHDrDyxJbrMD9eLvPe3z3qL3PPeozNTsiHJEENxx8DH2CxmV05iwG0dwoz5n4gQZQyYLUNt1Wdgfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {# Jquery #}
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>


        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/style.css')}}">
            <link rel="stylesheet" href="{{asset('css/studentPage.css')}}">
            <link rel="stylesheet" href="{{asset('css/sessionPage.css')}}">
            <link rel="stylesheet" href="{{asset('css/teacherPage.css')}}">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

        <nav>
            <div id="nav-links">

                {% if app.user %}
                    <p class="nav-menus">
                        <a href=" {{ path('app_home') }}">
                        <i class="ri-home-3-fill"></i></a>
                    </p>

                    <p class="nav-menus">
                        <i id="dashboard-icon" class="ri-dashboard-line"></i>
                        <a id="dashboard-link" href="#}">Dashboard</a>
                    </p>
                    
                    <p>
                        <i id="calendar-icon" class="ri-calendar-line"></i>
                        <a id="calendar-link" href="{{ path('app_session')}}">Session</a>

                    </p>
                    <p class="nav-menus" id="nav-students">
                        <i id="team-icon" class="ri-team-line"></i>
                        <a id="team-link" href="{{ path('app_student')}}">Students</a>
                    </p>
                    
                    <p>
                        <i id="repository-icon" class="ri-git-repository-line"></i>
                        <a id="repository-link" href="{{ path('app_teacher')}}">Teachers</a>
                    </p>
                    
                {% endif %}

            </div>

            <div id="user-panel">
                {% if app.user %}
                    <a href="#"><i class="fa-solid fa-user"></i></a>
                    <a href=" {{ path('app_logout') }}"><i class="ri-logout-circle-r-line"></i></a>
                {% else %}
                    <a href=" {{ path('app_login') }}">Se connecter</a>
                    <a href=" {{ path('app_register') }}">S'enregistrer'</a>
                    
                {% endif %}
             
            </div>
        </nav>


    
        <div id="content-container">
            <div id="sub-container">
                {% block body %}

                {% endblock %}
            </div>
        </div>

    </body>

    <script>
        
        $(document).ready(function () {
            // On hover, toggle classes for both i and a elements
            $('#team-icon, #team-link').hover(
                function () {
                    $('#team-icon').toggleClass('ri-team-line ri-team-fill');
                },
                function () {
                    $('#team-icon').toggleClass('ri-team-line ri-team-fill');
                }
            );
        
            $('#repository-icon, #repository-link').hover(
                function () {
                    $('#repository-icon').toggleClass('ri-git-repository-line ri-git-repository-fill');
                },
                function () {
                    $('#repository-icon').toggleClass('ri-git-repository-line ri-git-repository-fill');
                }
            );
        
            $('#dashboard-icon, #dashboard-link').hover(
                function () {
                    $('#dashboard-icon').toggleClass('ri-dashboard-line ri-dashboard-fill');
                },
                function () {
                    $('#dashboard-icon').toggleClass('ri-dashboard-line ri-dashboard-fill');
                }
            );
        
            $('#calendar-icon, #calendar-link').hover(
                function () {
                    $('#calendar-icon').toggleClass('ri-calendar-line ri-calendar-fill');
                },
                function () {
                    $('#calendar-icon').toggleClass('ri-calendar-line ri-calendar-fill');
                }
            );
        
            // // Check if the link corresponds to the current page and add the 'active' class
            // if (window.location.href.includes("student")) {
            //     $("#team-link").addClass("active");
            // }
        
        
        });

    </script>  
</html>
