{% extends 'base.html.twig' %}

{% block title %}List des formateurs{% endblock %}

{% block body %}

    {% for user in users %}
    {# <a href="{{ path('show_student', {'id': student.id }) }}">{{student}}</a> #}

    {{student}} 
    {# <a  href="{{ path('edit_student', {'id': student.id }) }}">Edit</a>
    <a  href="{{ path('delete_student', {'id': student.id }) }}">Supprimer</a> <br>
    <br> #}


    {% endfor %}

{% endblock %}
