{% extends 'base.html.twig' %}

{% block title %}Ajouter un formateur{% endblock %}

{% block body %}



    {# {{ form(formAddEmploye) }} #}

    {% if edit %}
    <h1>Editer un formateur</h1>
    {% else %}
    <h1>Ajouter un formateur</h1>
    {% endif %}


    {{ form_start(formAddTeacher) }}

        
        <div>
            <div {{ form_row(formAddTeacher.lastName) }}</div>
            <div {{ form_row(formAddTeacher.firstName) }}</div>
        </div>

        
        
        
        {{ form_row(formAddTeacher.Validate) }}
        

    {{ form_end(formAddTeacher) }}


{% endblock %}