{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    <h1>Profile</h1>
    {{ user}}

    <div id="avatar-profil">
        <img src="{{ asset('images/avatars/' ~ user.avatar) }}">
    </div>
    
   

    <div>
        {{ form_start(form) }}
        {{ form_row(form.avatar) }} 
        {{ form_end(form) }}
    </div>



    

{% endblock %}


{# <img src="{{ asset('bundles/profile/pictures/' ~ variable) }}"> #}
{# <link rel="stylesheet" href="{{asset('css/teacherPage.css')}}"> #}
